<div id="footer">
  <div class="container module-footer">
    <div class="headline">
       <div style="background-color:#ddf;">
         A QT application, a OGC web map server, a colaboration server to plan atmospheric research flights.
      </div>
             <div style="background-color:#ddf;">
               <a href="http://mss.rtfd.io">MSS Docs</a>  <a href="https://bitbucket.org/wxmetvis/mss/">MSS Repository</a>
      </div>
    </div>
    <div class="headline text-right">
      <div style="background-color:#ddf;">
          <span><p>License: Apache-2.0</p></span>
      </div>
    </div>
  </div>
</div>

