.cache/
.idea/
.vscode/
.DS_Store
*.pyc
*.swp
*.patch
*~
mslib/performance/data/
mslib/mswms/mswms_settings.py
mslib/mswms/mswms_auth.py
docs/_build
docs/gallery/plots
docs/gallery/code
docs/gallery/plots.html
docs/videos/
build/
open_mss.egg-info/
tutorials/recordings
tutorials/cursor_image.png
# pixi environments
.pixi
