.cache/
.idea/
.vscode/
.DS_Store
*.pyc
*.swp
*.patch
*~
mslib/mss_config.py
mslib/performance/data/
mslib/msui/mss.sideview.cfg
mslib/msui/mss.topview.cfg
mslib/msui/msui_settings.py
mslib/msui/wms_cache/
mslib/mswms/mswms_settings.py
mslib/mswms/mswms_auth.py
mslib/mscolab/colabdata/
docs/_build
docs/gallery/plots
docs/gallery/code
docs/gallery/plots.html
build/
mss.egg-info/
tutorials/recordings
tutorials/cursor_image.png
