(dp0
S'draw_flightlevels'
p1
I01
sS'vertical_extent'
p2
(I1050
I150
tp3
sS'colour_ft_vertices'
p4
(F0.0
F0.0
F1.0
F1.0
tp5
sS'label_flighttrack'
p6
I01
sS'fill_flighttrack'
p7
I01
sS'flightlevels'
p8
(lp9
I200
aI300
aI320
asS'draw_flighttrack'
p10
I01
sS'colour_ft_fill'
p11
(F0.0
F0.0
F1.0
F0.14999618524452582
tp12
sS'colour_ft_waypoints'
p13
(F1.0
F0.0
F0.0
F1.0
tp14
s.