(dp0
S'draw_graticule'
p1
I01
sS'label_flighttrack'
p2
I01
sS'colour_ft_vertices'
p3
(F0.0
F0.0
F1.0
F1.0
tp4
sS'draw_coastlines'
p5
I01
sS'fill_continents'
p6
I01
sS'colour_land'
p7
(F0.8
F0.6
F0.4
F1.0
tp8
sS'draw_flighttrack'
p9
I01
sS'fill_waterbodies'
p10
I01
sS'colour_water'
p11
(F0.6
F1.0
F1.0
F1.0
tp12
sS'colour_ft_waypoints'
p13
(F1.0
F0.0
F0.0
F1.0
tp14
s.