{% extends "theme.html" %} {% block body %}
    <div class="container">
        <style>
            @media (min-width: 1px) {
            .container {
                max-width: 90%;
            }
            }
        </style>
        <div class="col">
            <br>
            <h3>Reset Password</h3>
            <p>Please enter new password.</p>
            <div>
                <form method="post" action="">
                    <div >
                    {% for mesg in get_flashed_messages(category_filter=["category_success"]) %}
                        <div class="alert alert-success">
                            <strong>Success!</strong> {{ mesg }}.
                        </div>
                    {% endfor %}

                    {% for mesg in get_flashed_messages(category_filter=["category_danger"]) %}
                        <div class="alert alert-danger">
                        <strong>Failed!</strong> {{mesg}}.
                        </div>
                    {% endfor %}
        
                    {{form.hidden_tag()}}
                        </div>
                            <div class="form-group col-md-6">
                                <fieldset>
                                    <div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>{{form.password.label(class="form-control-label")}}</label>
                                                <div type="password"  id="inputEmail4" placeholder="Password">
                                                    {{form.password(class="fpr,form-control form-control-lg is-invalid")}}
                                                </div> 
                                                {% if form.password.errors %}
                                                    {% for error in form.password.errors %}
                                                        <span class="text-danger">{{error}}</span>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>{{form.confirm_password.label(class="form-control-label")}}</label>
                                                <div type="password"  id="inputEmail4" placeholder="Confirm Password">
                                                    {{form.confirm_password(class="fpr,form-control form-control-lg is-invalid")}}
                                                </div> 
                                                {% if form.confirm_password.errors %}
                                                    {% for error in form.confirm_password.errors %}
                                                    <span class="text-danger">{{error}}</span>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>  
                                    </div>
                                </fieldset>
                            <div>
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </div>
                </form> 
            </div> 
        </div>
    </div>
  {% endblock %}
