# This workflow will install Python dependencies, lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: flake8

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]
jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Lint with flake8
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        flake8 mslib  --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
