name: Pytest MSS

on: [ push, pull_request ]
env:
  PAT: ${{ secrets.PAT }}

jobs:
  xdist-MSS-Tests:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        shell: bash

    container:
      image: openmss/mss-test:latest

    steps:
    - uses: actions/checkout@v2
        
    - name: Reinstall dependencies if changed
      run: |
        cmp -s /meta.yaml localbuild/meta.yaml && cmp -s /development.txt requirements.d/development.txt|| (echo Dependencies differ \
        && cat localbuild/meta.yaml \
        | sed -n '/^requirements:/,/^test:/p' \
        | sed -e "s/.*- //" \
        | sed -e "s/menuinst.*//" \
        | sed -e "s/.*://" > reqs.txt \
        && source /opt/conda/bin/activate mssenv \
        && conda config --add channels conda-forge \
        && conda config --add channels defaults \
        && conda install --revision 0 \
        && conda install mamba \
        && mamba install --file reqs.txt \
        && mamba install --file requirements.d/development.txt)

    - name: Run tests
      timeout-minutes: 15
      run: |
        source /opt/conda/bin/activate mssenv
        cd $GITHUB_WORKSPACE
        pytest -v -n 6 --dist loadscope --max-worker-restart 0 --durations=0

  Update-Images:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    needs: [xdist-MSS-Tests]

    steps:
      - if: env.PAT != ''
        name: Invoke dockerhub image creation
        uses: benc-uk/workflow-dispatch@827565b908f387ffd483c84312273ae185c06c8a
        with:
          workflow: Update all images
          repo: Open-MSS/dockerhub
          ref: stable
          token: ${{ secrets.PAT }}